/logs/*
!/logs/.gitkeep
/.history
/megalinter-reports
/vendor
*.bak

# docsify github pages
/pages/*.md
/pages/bashDoc
/pages/tests
!/**/_sidebar.md
!/**/_navbar.md

/bin/awkLint
/bin/buildBinFiles
/bin/generateShellDoc
/bin/megalinter
/bin/runBuildContainer
/bin/shellcheckLint
/bin/test
/bin/findShebangFiles
/bin/buildPushDockerImages
/bin/frameworkLint
