vendor/
.history/
*.bak
commit-msg.md

# node modules
node_modules/
package*.json
yarn.lock

# megalinter
megalinter-reports/
*megalinter_file_names_cspell.txt

# Hugo build artifacts
build/
public/
sites/
resources/
.hugo_build.lock
hugo.yaml

bin/test
bin/buildBinFiles
