[submodule "vendor/bats"]
	path = vendor/bats
	url = https://github.com/bats-core/bats-core.git
[submodule "vendor/bats-support"]
	path = vendor/bats-support
	url = https://github.com/bats-core/bats-support.git
[submodule "vendor/bats-assert"]
	path = vendor/bats-assert
	url = https://github.com/bats-core/bats-assert.git
[submodule "vendor/fchastanet.tomdoc.sh"]
	path = vendor/fchastanet.tomdoc.sh
	url = https://github.com/fchastanet/tomdoc.sh.git
[submodule "vendor/bats-mock"]
	path = vendor/bats-mock
	url = https://github.com/grayhemp/bats-mock.git
[submodule "vendor/bats-stub"]
	path = vendor/bats-stub
	url = https://github.com/jasonkarns/bats-mock
[submodule "vendor/bats-mock-Flamefire"]
	path = vendor/bats-mock-Flamefire
	url = https://github.com/Flamefire/bats-mock.git
