[submodule "vendor/bats"]
	path = vendor/bats
	url = https://github.com/bats-core/bats-core.git
[submodule "vendor/bats-support"]
	path = vendor/bats-support
	url = https://github.com/bats-core/bats-support.git
[submodule "vendor/bats-assert"]
	path = vendor/bats-assert
	url = https://github.com/bats-core/bats-assert.git
[submodule "vendor/fchastanet.tomdoc.sh"]
	path = vendor/fchastanet.tomdoc.sh
	url = https://github.com/fchastanet/tomdoc.sh.git
