external-sources=true
enable=require-variable-braces
enable=avoid-nullary-conditions
enable=add-default-case
enable=quote-safe-variables
enable=require-double-brackets
source-path=SCRIPTDIR
source-path=vendor/bash-tools-framework
# special property used by shellcheckLint
exclude=(\.bats$|\.tpl$|/testsData/|\.cache/pre-commit)
