[core]
    eol = lf
    autocrlf = input

# @see https://www.durdn.com/blog/2012/11/22/must-have-git-aliases-advanced-examples/
[alias]
    # List all git aliases
    alias = "!git config -l | grep alias | cut -c 7-"

    cm = commit -m
    co = checkout
    cob = checkout -b
    st = status
    br = branch
    brd = branch -d
    brD = branch -D
    master = !git checkout master && git pull origin
    plo = pull origin

    # Remove the file from repository but keeping it as unstaged
    rm-keep = rm --cached

    # List commits in short form, with colors and branch/tag annotations
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate

    # List commits showing changed files
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat

    # List one-line commits showing relative dates:
    ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative

    # get all modifications form the given branch losing all commits history
    # can be useful to recreate a branch from scratch
    merge-no-history = merge --no-commit --no-ff

    # get all merges into current branch comparing to master
    log-merges-into-current-branch = log master..HEAD --ancestry-path --merges  --oneline

    # get first commit of a branch comparing to master
    log-get-first-commit-of-current-branch = ! git log master..HEAD --oneline | tail -1

    # get list of branches containing a file
    list-branches-containing-file = "!f() { git log --all --source -- $1 | grep -o 'refs/.*' | sort -u ; }; f"

    # https://stackoverflow.com/a/43585658/3045926
    # or use git show-branch
    reverse-tree = 'log --graph --decorate --simplify-by-decoration --oneline'

    set-remote-branch = !f() {git branch --set-upstream-to="origin/$(git branch --show-current)" "$(git branch --show-current)"; }; f; unset f;)
